*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
}
html{
    background: #333332;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white,5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,78px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: seashell;
    box-shadow: inset -5px -5px 12px white,5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: silver;
    font-size: 50px;
    text-align: end;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 50px;
    width: 50px;
    background-color: gainsboro;
    box-shadow: inset -5px -5px 12px white,5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 15px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: gainsboro;
    box-shadow: inset -5px -5px 12px white,5px 5px 12px rgba(0,0,0,.16);
}
